
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TaskManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="tasklist" routerLinkActive="active">List Tasks </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="addtask" routerLinkActive="active">Add Tasks </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="updatetask/:id" routerLinkActive="active">Update Tasks </a>
        </li> -->
      </ul>

      <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!userService.loggedIn()" routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!userService.loggedIn()" routerLink="signup" routerLinkActive="active">Sign Up</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="userService.loggedIn()" (click)="userService.logoutUser()">Logout</a>
      </ul>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>


  <!-- <span class="sr-only">(current)</span> -->