.emailAlreadyExisterrorMessage, 
.invalidEmailError, 
.nameErrorMsg, 
.emailErrorMsg, 
.passwordErrorMsg,
.confirmpasswordErrorMsg
{
    color: red;
}

.successMsg{
    background-color: honeydew;
    color: green;
}